
{% extends 'posts/base.html' %}

{% block title %}Lista urządzeń{% endblock %}

{% block content %}
<h2>Lista urządzeń</h2>

<table>
    <tr>
        <th>Nazwa</th>
        <th>Numer seryjny</th>
        <th>Kategoria</th>
        <th>Lokalizacja</th>
        <th>Pracownik</th>
        <th>Akcje</th>
    </tr>
    {% for device in devices %}
    <tr>
        <td>{{ device.name }}</td>
        <td>{{ device.serial_number }}</td>
        <td>{{ device.category.name }}</td>
        <td>{{ device.location.name }}</td>
        <td>{{ device.assigned_to.first_name }} {{ device.assigned_to.last_name }}</td>
        <td>
            <a href="{% url 'add_device' %}">➕ Dodaj</a>|
            <a href="{% url 'device_detail' device.pk %}">Szczegóły</a> |
            <a href="{% url 'device_edit' device.pk %}">Edytuj</a> |
            <a href="{% url 'device_delete' device.pk %}">Usuń</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
